---
export interface Props {
  l: any;
  showAll: boolean;
}

const { l, showAll } = Astro.props;
---

<div
  class='flex flex-col gap-4 rounded-2xl p-4 bg-white hover:shadow-orange shadow-2 min-h-[600px] max-w-[400px] justify-start lg:h-full'
>
  <div class='h-[37px]'></div>
  <div class='flex flex-col gap-8'>
    <div class='flex gap-1 items-center justify-center'>
      <img src='/images/free-package.svg' alt='' />
      <h6 class='text-lg'>{l.price.package1}</h6>
    </div>
    <div class='flex gap-2.5 justify-center items-center'>
      <div class='flex flex-col justify-end'>
        <b class='text-blueGrey-400 text-3xl text-right line-through'>69K</b>
        <b class='px-2.5 py-1 w-[96px] text-sm bg-emerald-3 text-darkEmerald rounded-3xl text-center'
          >{`${l.lang == 'VI' ? l.price.discount + ' 50%' : '50% ' + l.price.discount}`}</b
        >
      </div>
      <span class='text-7xl font-bold'>39K</span>
    </div>
    <div class='flex flex-col gap-4'>
      <span class='text-center'>{l.price.monthAccess}</span>
    </div>
    <div class='flex flex-col gap-4'>
      <a
        href='https://student.kyons.vn/sign-up?packageLevel=1'
        target='_blank'
        class='btn outlined'
        title={l.btn.preorder + ' ' + l.price.package1}>{l.btn.buyNow}</a
      >
      <p set:html={l.price.package1Include} />
      <ul class='star'>
        <li set:html={l.price.package11} />
      </ul>
    </div>
  </div>
</div>
<div
  class='flex flex-col rounded-2xl p-4 gap-4 bg-white hover:shadow-orange shadow-2 min-h-[600px] max-w-[450px] justify-start items-center border-orange border-2 lg:h-full'
>
  <div class='h-[37px] bg-yellow-1 px-4 py-2 rounded-2xl flex items-center'>{l.price.recommended}</div>
  <div class='flex flex-col gap-8'>
    <div class='flex gap-1 items-center justify-center'>
      <img src='/images/free-package.svg' alt='' />
      <h6 class='text-lg'>{l.price.package2}</h6>
    </div>
    <div class='flex gap-2.5 justify-center items-center'>
      <div class='flex flex-col justify-end'>
        <b class='text-blueGrey-400 text-3xl text-right line-through'>207K</b>
        <b class='px-2.5 py-1 w-[96px] text-sm bg-emerald-3 text-darkEmerald rounded-3xl text-center'
          >{`${l.lang == 'VI' ? l.price.discount + ' 50%' : '50% ' + l.price.discount}`}</b
        >
      </div>
      <span class='text-7xl font-bold'>99K</span>
    </div>
    <div class='flex flex-col gap-4'>
      <span class='text-center'>{l.price.monthsAccess.replace('[number]', 3)}</span>
    </div>
    <div class='flex flex-col gap-4'>
      <a
        href='https://student.kyons.vn/sign-up?packageLevel=2'
        target='_blank'
        class='btn orange'
        title={l.btn.preorder + ' ' + l.price.package2}>{l.btn.buyNow}</a
      >
      <p set:html={l.price.package2Include} />
      <ul class='star'>
        <li set:html={l.price.package21} />
        <li set:html={l.price.package22} />
      </ul>
    </div>
  </div>
</div>
<div
  class='flex flex-col gap-4 rounded-2xl p-4 bg-white hover:shadow-orange shadow-2 min-h-[600px] max-w-[400px] justify-start lg:h-full'
>
  <div class='h-[37px]'></div>
  <div class='flex flex-col gap-8'>
    <div class='flex gap-1 items-center justify-center'>
      <img src='/images/free-package.svg' alt='' />
      <h6 class='text-lg'>{l.price.package3}</h6>
    </div>
    <div class='flex gap-2.5 justify-center items-center'>
      <div class='flex flex-col justify-end'>
        <b class='text-blueGrey-400 text-3xl text-right line-through'>828K</b>
        <b class='px-2.5 py-1 w-[96px] text-sm bg-emerald-3 text-darkEmerald rounded-3xl text-center'
          >{`${l.lang == 'VI' ? l.price.discount + ' 50%' : '50% ' + l.price.discount}`}</b
        >
      </div>
      <span class='text-7xl font-bold'>419K</span>
    </div>
    <div class='flex flex-col gap-4'>
      <span class='text-center'>{l.price.monthsAccess.replace('[number]', 12)}</span>
    </div>
    <div class='flex flex-col gap-4'>
      <a
        href='https://student.kyons.vn/sign-up?packageLevel=3'
        target='_blank'
        class='btn outlined'
        title={l.btn.preorder + ' ' + l.price.package2}>{l.btn.buyNow}</a
      >
      <p set:html={l.price.package3Include} />
      <ul class='star'>
        <li set:html={l.price.package31} />
        <li set:html={l.price.package32} />
        <li set:html={l.price.package33} />
      </ul>
    </div>
  </div>
</div>
