---
import './style.scss';
export interface Props {
  l: any;
  id: string | undefined;
}

const { l, id } = Astro.props;
const packageName = l['price'][id ?? 'free'];
let change = l.preorder.change.replace('[pk]', id == 'package1' ? l.price.package2 : l.price.package1);
---

<ul class='list-disc pl-5'></ul>
<div class='preorder'>
  <div id='preorder' class='absolute top-[-82px]'></div>
  <div class='h-14'></div>
  <div class='flex flex-col gap-6 items-center sm:max-w-[664px]'>
    <h1 class='text-2xl text-white'>{l.preorder.title} {packageName}</h1>
    <div class='flex flex-col gap-4 w-full items-stretch bg-white p-4 rounded-lg shadow-2'>
      <form name='step1' id='step1' class='flex flex-col'>
        <h3 class='text-lightBlue-1 text-base'>{l.preorder.step1}</h3>
        <div class='h-2'></div>
        <p>{l.preorder.step1Desc}</p>
        <div class='h-3'></div>
        <span><span class='text-red-0'>*</span>{l.preorder.name}</span>
        <div class='h-1'></div>
        <input name='name' id='name' type='text' placeholder={l.preorder.nameExp} required />
        <div class='h-3'></div>
        <span><span class='text-red-0'>*</span>{l.preorder.email}</span>
        <div class='h-1'></div>
        <input name='email' id='email' type='text' placeholder={l.preorder.emailExp} required />
        <div class='h-3'></div>
        <span><span class='text-red-0'>*</span>{l.preorder.phone}</span>
        <div class='h-1'></div>
        <input name='mobile' id='mobile' type='text' placeholder={l.preorder.phoneExp} required />
        <div class='h-4'></div>
        <p set:html={l.preorder.notice} />
        <div class='h-4'></div>
        <input
          type='hidden'
          name='order_package'
          value={id == 'package1' ? 'Gói đặt trước ưu đãi (1 tháng)' : 'Gói đặt trước ưu đãi (3 tháng)'}
        />
        <button id='submit1' class='btn orange' type='button'>{l.btn.continue}</button>
      </form>
      <form id='step2' class='flex flex-col hide'>
        <h3 class='text-lightBlue-1 text-base'>{l.preorder.step2}</h3>
        <div class='h-2'></div>
        <p set:html={`${l.preorder.step2Desc}:`} />
        <div class='h-3'></div>
        <div class='flex flex-col sm:flex-row items-center sm:items-start'>
          <img
            id='image'
            src='https://img.vietqr.io/image/TCB-19037780961051-compact2.png?amount=<AMOUNT>&addInfo=<DESCRIPTION>&accountName=KYONS LLC'
            alt={`${l.preorder.title} ${packageName}`}
            class='blur sm:w-[50%]'
          />
          <div class='flex flex-col sm:flex-1 sm:items-start'>
            <div class='h-3'></div>
            <h2 class='text-lg font-bold text-center sm:text-left'>
              {l.preorder.amount}
              {id == 'package1' ? 69 : 159}.000đ
            </h2>
            <div class='h-3'></div>
            <a
              href={`/${l.lang == 'VI' ? '' : 'en/'}preorder/${id == 'package1' ? 'package2' : 'package1'}`}
              class='text-orange underline text-center'>{change}</a
            >
            <div class='h-6'></div>
            <div class='flex flex-col p-4 border border-blueGrey-300 rounded-lg w-full'>
              <div class='flex flex-col gap-1.5'>
                <span>{l.preorder.content}</span>
                <span id='copyCode' class='flex justify-between cursor-pointer'>
                  <strong id='copyText' class='text-orange'>DT G3T <span id='code'>[order_code]</span></strong>
                  <i class='icon-Duplicate text-orange text-base'></i>
                </span>
              </div>
              <div class='flex flex-col gap-1.5'>
                <span>{l.preorder.bank}</span>
                <span id='copyBank' class='flex justify-between cursor-pointer'>
                  <strong>Techcombank</strong>
                  <i class='icon-Duplicate text-orange text-base'></i>
                </span>
              </div>
              <div class='flex flex-col gap-1.5'>
                <span>{l.preorder.accountNumber}</span>
                <span id='copyCard' class='flex justify-between cursor-pointer'>
                  <strong>19037780961051</strong>
                  <i class='icon-Duplicate text-orange text-base'></i>
                </span>
              </div>
              <div class='flex flex-col gap-1.5'>
                <span>{l.preorder.accountName}</span>
                <span id='copyName' class='flex justify-between cursor-pointer'>
                  <strong>KYONS LLC</strong>
                  <!-- <i class='icon-Duplicate text-orange text-base'></i> -->
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class='h-6'></div>
        <div class='flex flex-col sm:flex-row gap-2'>
          <button id='alreadyTransfer' class='btn orange w-full sm:order-2' type='button'
            >{l.btn.alreadyTransfer}</button
          >
          <button id='back2' class='btn outlined w-full sm:order-1' type='button'>{l.btn.back}</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  id='alreadyPreordered'
  class='fixed z-30 top-0 left-0 p-4 w-full h-screen bg-black bg-opacity-80 flex items-center justify-center hide'
>
  <div class='col rounded-2xl bg-white gap-4 p-6 w-full md:w-[400px] items-center justify-center'>
    <img src='/images/already-preorder.svg' alt='' />
    <div class='col w-full gap-2'>
      <h6>{l.alreadyPreorder}</h6>
      <div class='flex flex-col gap-1' set:html={l.alreadyPreorderDesc} />
    </div>
    <button id='retry' class='btn orange w-full'>{l.btn.retry}</button>
  </div>
</div>
<div
  id='alreadyTransfered'
  class='fixed z-30 top-0 left-0 p-4 w-full h-screen bg-black bg-opacity-80 flex items-center justify-center hide'
>
  <div class='col rounded-2xl bg-white gap-4 p-6 w-full md:w-[400px] items-center justify-center'>
    <img src='/images/already-transfer.svg' alt='' />
    <div class='col w-full gap-2'>
      <h6>{l.alreadyTransfer}</h6>
      <div class='flex flex-col gap-1' set:html={l.alreadyTransferDesc} />
    </div>
    <button id='confirmTransfer' class='btn orange w-full' type='button'>{l.btn.alreadyTransfer}</button>
    <button id='back' class='btn outlined w-full' type='button'>{l.btn.uncompleted}</button>
  </div>
</div>
<script src='https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js'></script>
<script define:vars={{ l, id, packageName }} type='text/javascript'>
const urlSearchParams = new URLSearchParams(window.location.search);
const params = Object.fromEntries(urlSearchParams.entries());
if (params['outline']) {
  window.document.body.classList.add('outline');
}
async function loadImage(url, elem) {
  return new Promise((resolve, reject) => {
    elem.onload = () => resolve(elem);
    elem.onerror = reject;
    elem.src = url;
  });
}

const text = {};
const form1 = document.getElementById('step1');
const submit1 = document.getElementById('submit1');
const email = document.getElementById('email');
const mobile = document.getElementById('mobile');
const retry = document.getElementById('retry');
const back = document.getElementById('back');
const back2 = document.getElementById('back2');
const form2 = document.getElementById('step2');
const code = document.getElementById('code');
const copyCode = document.getElementById('copyCode');
const copyText = document.getElementById('copyText');
const copyBank = document.getElementById('copyBank');
const copyCard = document.getElementById('copyCard');
const copyName = document.getElementById('copyName');
const alreadyTransferBtn = document.getElementById('alreadyTransfer');
const confirmTransferBtn = document.getElementById('confirmTransfer');
const image = document.getElementById('image');

confirmTransferBtn.addEventListener('click', async () => {
  const body = {
    order_code: code.innerText,
    current_status: 'created_preorder',
  };
  const response = await fetch('https://student-api-dev.kyons.vn/pre_order/status', {
    method: 'PUT',
    body: JSON.stringify(body),
    headers: {
      'Content-Type': 'application/json',
    },
  });
  if (response.status == 201) {
    window.location.href = `${l.lang == 'VI' ? '' : '/en'}/preorder-success/${id}/?code=${body.order_code}`;
  } else {
    alert(l.retry);
  }
});
alreadyTransferBtn.addEventListener('click', () => {
  document.getElementById('alreadyTransfered').classList.remove('hide');
  document.body.style.overflowY = 'hide';
});
copyCode.addEventListener('click', () => {
  navigator.clipboard.writeText(copyText.innerText);
});
copyBank.addEventListener('click', () => {
  navigator.clipboard.writeText(copyBank.innerText);
});
copyCard.addEventListener('click', () => {
  navigator.clipboard.writeText(copyCard.innerText);
});
copyName.addEventListener('click', () => {
  navigator.clipboard.writeText(copyName.innerText);
});
back.addEventListener('click', () => {
  document.getElementById('alreadyTransfered').classList.add('hide');
  document.body.removeAttribute('style');
});
back2.addEventListener('click', () => {
  form1.classList.remove('hide');
  form2.classList.add('hide');
});

retry.addEventListener('click', () => {
  document.getElementById('alreadyPreordered').classList.add('hide');
  document.body.removeAttribute('style');
});

email.addEventListener('keyup', (value) => {
  email.setCustomValidity('');
});
mobile.addEventListener('keyup', (value) => {
  mobile.setCustomValidity('');
});
submit1.addEventListener('click', async (e) => {
  // e.preventDefault();
  if (!form1.checkValidity()) {
    form1.reportValidity();
    return false;
  }
  const elm = document.createElement('div');
  elm.innerHTML = `<lottie-player
          id='loading'
          src="/loading.json"
          background="transparent"
          speed="1"
          style="width: 40px; height: 40px"
          loop
          autoplay
        ></lottie-player>`;
  submit1.prepend(elm.firstChild);
  submit1.disabled = true;
  for (let i = 0; i < form1.length; i++) {
    if (form1.elements[i].name) text[form1.elements[i].name] = form1.elements[i].value;
  }
  // e.preventDefault();
  const response = await fetch('https://student-api-dev.kyons.vn/pre_order/users', {
    method: 'POST',
    body: JSON.stringify(text),
    headers: {
      'Content-Type': 'application/json',
    },
  });
  console.log(response);
  document.getElementById('loading').remove();
  submit1.disabled = false;
  if (response.status == 201) {
    const order = await response.json();
    order.name = packageName;
    window.localStorage.setItem('order', JSON.stringify(order));
    if (order.status != 'created_preorder') return;
    code.innerHTML = order.order_code;
    form2.classList.remove('hide');
    form1.classList.add('hide');
    const imageUrl = `https://img.vietqr.io/image/TCB-19037780961051-compact2.png?amount=${id == 'package1' ? 69 : 159
      }000&addInfo=${copyCode.innerText.trim()}&accountName=KYONS LLC`;
    await loadImage(imageUrl, image);
    image.attributes.src.value = imageUrl;
    image.classList.remove('blur');
  } else {
    if (response.status == 400) {
      const error = await response.json();
      if (error.error_code == 'InvalidParam') {
        if (error.invalid_param == 'email') {
          email.setCustomValidity(l.invalidEmail);
          email.reportValidity();
        } else if (error.invalid_param == 'mobile') {
          mobile.setCustomValidity(l.invalidPhone);
          mobile.reportValidity();
        }
      }
    } else if (response.status == 409) {
      document.getElementById('alreadyPreordered').classList.remove('hide');
      document.body.style.overflowY = 'hide';
    } else {
      alert(l.retry);
    }
  }
  return false;
});
</script>
