---
import './style.scss';
export interface Props {
  l: any;
}

const { l } = Astro.props;
const APP_URL = process.env.APP_URL;
---

<div class='guild'>
  <div id='guild' class='absolute top-[-82px]'></div>
  <div class='hidden sm:flex absolute right-0 top-[-200px] z-0'>
    <img src='/images/guild-planet.svg' alt='' width='336' height='250' />
  </div>
  <div class='flex flex-col w-full max-w-[1122px] gap-6 lg:gap-11 items-center justify-center z-10'>
    <div class='flex flex-col lg:px-12 lg:py-6 gap-6 w-full items-center justify-center lg:text-left text-center'>
      <div class='flex flex-col gap-2 items-center'>
        <strong class='title bg-lightBlue-1'>{l.guild.guild}</strong>
        <h3 class='text-2xl'>{l.guild.completeLearning}</h3>
      </div>
      <a
        href={`${l.lang == 'VI' ? '' : '/en'}/pricing`}
        class='flex items-center justify-center gap-4 px-[16px] py-[6px] cursor-pointer text-white font-[600] text-center h-10 rounded bg-orangeGradient shadow-orange1 w-full sm:hidden'
        >{l.btn.bookNow}</a
      >
    </div>
    <div class='grid sm:grid-cols-2 lg:grid-cols-4 gap-5 text-center max-w-[350px] sm:max-w-none'>
      <div class='flex flex-col items-center pt-12 pb-9 bg-white rounded-lg gap-4 px-6 py-12'>
        <img src='/images/feature-1.svg' alt={l.guild.step1} width='108px' height='108px' />
        <div class='flex flex-col gap-1'>
          <h5 class='text-base font-bold'>{l.guild.step1}</h5>
          <p>{l.guild.step1Desc}</p>
        </div>
      </div>
      <div class='flex flex-col items-center pt-12 pb-9 bg-white rounded-lg gap-4 px-6 py-12'>
        <img src='/images/feature-2.svg' alt={l.guild.step2} width='108px' height='108px' />
        <div class='flex flex-col gap-1'>
          <h5 class='text-base font-bold'>{l.guild.step2}</h5>
          <p>{l.guild.step2Desc}</p>
        </div>
      </div>
      <div class='flex flex-col items-center pt-12 pb-9 bg-white rounded-lg gap-4 px-6 py-12'>
        <img src='/images/feature-3.svg' alt={l.guild.step3} width='108px' height='108px' />
        <div class='flex flex-col gap-1'>
          <h5 class='text-base font-bold'>{l.guild.step3}</h5>
          <p>{l.guild.step3Desc}</p>
        </div>
      </div>
      <div class='flex flex-col items-center pt-12 pb-9 bg-white rounded-lg gap-4 px-6 py-12'>
        <img src='/images/feature-4.svg' alt={l.guild.step4} width='108px' height='108px' />
        <div class='flex flex-col gap-1'>
          <h5 class='text-base font-bold'>{l.guild.step4}</h5>
          <p>{l.guild.step4Desc}</p>
        </div>
      </div>
    </div>
  </div>
  <div class='h-12'></div>
  <a
    href={`${l.lang == 'VI' ? '' : '/en'}/pricing`}
    class='items-center justify-center gap-4 px-[16px] py-[6px] cursor-pointer text-white font-[600] text-center h-10 rounded bg-orangeGradient shadow-orange1 w-[428px] hidden sm:flex'
    >{l.btn.bookNow}</a
  >
</div>
