---
import './schools.scss';
export interface Props {
  l: any;
}

const { l } = Astro.props;
const APP_URL = process.env.APP_URL;
---

<div class='schools'>
  <div class='h-[82px] text-darkTeal'></div>
  <div class='schools-gradient'></div>
  <img class='schools-laptop hidden md:flex max-w-[60%]' src='/images/school-top-bg-md.svg' alt='' />
  <img class='schools-laptop md:hidden' src='/images/school-top-bg.svg' alt='' />
  <div class='flex w-full max-w-[1280px] h-full relative'>
    <div
      class='flex flex-col md:items-start text-center md:text-left gap-4 relative md:absolute md:left-0 md:top-[126px] md:w-[459px] px-6 py-10'
    >
      <h1 class='text-2xl' set:html={l.schools.usefulTool} />
      <span>{l.schools.kyonsSchool}</span>
      <a href={`${l.lang == 'VI' ? '' : '/en'}/#contact`} class='btn green w-full md:w-[280px]'>
        {l.btn.trial}
      </a>
    </div>
  </div>
</div>
<div class='flex justify-center px-6 pt-12 pb-[7.75rem] md:py-[6.75rem] problem-bg gap-8 lg:gap-10'>
  <div class='flex flex-col w-full max-w-[1280px] gap-9 md:gap-14 text-center'>
    <div class='flex flex-col w-full max-w-[1280px] items-center gap-2'>
      <span class='title bg-darkTeal'>{l.problems.problems}</span>
      <h2 class='text-[1.375rem] md:text-[1.75rem]'>{l.problems.b2bWhy}</h2>
    </div>
    <div class='grid grid-cols-1 md:grid-cols-3'>
      <div class='flex flex-col items-center gap-4'>
        <img src='/images/school-problem-1.png' alt='' />
        <span class='md:max-w-[240px] text-base'>{l.problems.b2b1}</span>
      </div>
      <div class='flex flex-col items-center gap-4'>
        <img src='/images/school-problem-2.png' alt='' />
        <span class='md:max-w-[240px] text-base'>{l.problems.b2b2}</span>
      </div>
      <div class='flex flex-col items-center gap-4'>
        <img src='/images/school-problem-3.png' alt='' />
        <span class='md:max-w-[240px] text-base'>{l.problems.b2b3}</span>
      </div>
    </div>
  </div>
</div>
<div
  class='flex justify-center px-6 pt-12 md:pt-[5.5rem] pb-14 md:pb-[6.75rem] md:py-[6.75rem] solution-bg relative bg-blueGrey-50 overflow-hidden'
>
  <div class='flex flex-col w-full max-w-[1280px] gap-6 md:gap-14 text-center lg:px-8'>
    <div class='flex flex-col w-full items-center gap-2'>
      <span class='title bg-darkTeal'>{l.solutions.solutions}</span>
      <h2 class='text-[1.375rem] md:text-[1.75rem] right-arrow' set:html={l.solutions.features} />
    </div>
    <div class='col items-stretch gap-9 md:gap-[6.25rem]'>
      <!-- #1 -->
      <div class='flex flex-col md:flex-row items-stretch gap-6 md:gap-24'>
        <div class='col items-center md:items-start gap-4'>
          <div class='flex items-center justify-center w-20 h-20 rounded-full bg-teal-2'>
            <img src='/images/AIQuestions.svg' alt='' />
          </div>
          <div class='col items-center md:items-start gap-3 text-center md:text-left'>
            <h3 class='text-[1.125rem] md:text-[1.5rem]'>{l.solutions.feature1}</h3>
            <span>{l.solutions.feature1desc}</span>
          </div>
        </div>
        <div class='relative w-full lg:w-[60%] xl:w-[729px] lg:shrink-0'>
          <div class='circle-gradient left-[-176px] md:hidden aspect-square w-[439px]'></div>
          <img class='relative w-full shadow-4 rounded-2xl hidden md:flex' src='/images/feature-1-md.png' alt='' />
          <img class='relative w-full shadow-4 rounded-2xl md:hidden' src='/images/feature-1.png' alt='' />
        </div>
      </div>
      <!-- #2 -->
      <div class='flex flex-col md:flex-row-reverse items-stretch gap-6 md:gap-24'>
        <div class='col items-center md:items-start gap-4'>
          <div class='flex items-center justify-center w-20 h-20 rounded-full bg-teal-2'>
            <img src='/images/local_library.svg' alt='' />
          </div>
          <div class='col items-center md:items-start gap-3 text-center md:text-left'>
            <h3 class='text-[1.125rem] md:text-[1.5rem]'>{l.solutions.feature2}</h3>
            <span>{l.solutions.feature2desc}</span>
          </div>
        </div>
        <div class='relative w-full lg:w-[60%] xl:w-[729px] lg:shrink-0'>
          <div class='circle-gradient left-[-176px] hidden md:flex aspect-square w-[541px]'></div>
          <img class='relative w-full shadow-4 rounded-2xl hidden md:flex' src='/images/feature-2-md.png' alt='' />
          <img class='relative w-full shadow-4 rounded-2xl md:hidden' src='/images/feature-2.png' alt='' />
        </div>
      </div>
      <!-- #3 -->
      <div class='flex flex-col md:flex-row items-stretch gap-6 md:gap-24'>
        <div class='col items-center md:items-start gap-4'>
          <div class='flex items-center justify-center w-20 h-20 rounded-full bg-teal-2'>
            <img src='/images/article.svg' alt='' />
          </div>
          <div class='col items-center md:items-start gap-3 text-center md:text-left'>
            <h3 class='text-[1.125rem] md:text-[1.5rem]'>{l.solutions.feature3}</h3>
            <span>{l.solutions.feature3desc}</span>
          </div>
        </div>
        <div class='relative w-full lg:w-[60%] xl:w-[729px] lg:shrink-0'>
          <div class='circle-gradient right-[-293px] md:hidden aspect-square w-[441px]'></div>
          <img class='relative w-full shadow-4 rounded-2xl hidden md:flex' src='/images/feature-3-md.png' alt='' />
          <img class='relative w-full shadow-4 rounded-2xl md:hidden' src='/images/feature-3.png' alt='' />
        </div>
      </div>
      <!-- #4 -->
      <div class='flex flex-col md:flex-row-reverse items-stretch gap-6 md:gap-24'>
        <div class='col items-center md:items-start gap-4'>
          <div class='flex items-center justify-center w-20 h-20 rounded-full bg-teal-2'>
            <img src='/images/award_star.svg' alt='' />
          </div>
          <div class='col items-center md:items-start gap-3 text-center md:text-left relative'>
            <div class='circle-gradient bottom-[-441px] right-[-220px] hidden md:flex aspect-square w-[441px]'></div>
            <h3 class='text-[1.125rem] md:text-[1.5rem]'>{l.solutions.feature4}</h3>
            <span>{l.solutions.feature4desc}</span>
          </div>
        </div>
        <div class='relative w-full lg:w-[60%] xl:w-[729px] lg:shrink-0'>
          <img class='relative w-full shadow-4 rounded-2xl hidden md:flex' src='/images/feature-4-md.png' alt='' />
          <img class='relative w-full shadow-4 rounded-2xl md:hidden' src='/images/feature-4.png' alt='' />
        </div>
      </div>
    </div>
  </div>
</div>

<div class='w-full flex justify-center'>
  <div
    class='col items-center gap-6 px-4 py-10 md:py-20 bg-[#E0F9FB] w-full max-w-[1280px] rounded-tl-2xl rounded-tr-2xl xl:rounded-3xl relative'
  >
    <img src='/images/5-steps-bg-md.svg' alt='' class='hidden md:flex absolute right-8 top-7 w-[621px] h-[527px]' />
    <img src='/images/5-steps-bg.svg' alt='' class='absolute left-10 top-10 w-[422px] h-[358px] md:hidden' />
    <h3 class='text-[1.125rem] md:text-[1.5rem] sparkle px-[24px] text-center relative' set:html={l.solutions.use} />
    <img
      src={`/images/${l.languageCode}/5-steps.svg`}
      alt={l.solutions.use}
      class='w-full shadow-3 rounded-2xl md:hidden relative'
    />
    <a href={`${l.lang == 'VI' ? '' : '/en'}/#contact`}
      ><img
        src={`/images/${l.languageCode}/5-steps-md.svg`}
        alt=''
        class='w-full max-w-[910px] shadow-3 rounded-2xl hidden md:flex relative'
      /></a
    >
    <a
      href={`${l.lang == 'VI' ? '' : '/en'}/#contact`}
      class='flex items-center justify-center gap-4 px-[16px] py-[6px] cursor-pointer text-white font-[600] text-center h-12 rounded bg-greenGradient shadow-green1 md:hidden w-full relative'
      >{l.btn.contact}</a
    >
  </div>
</div>
<div class='h-[108px] hidden xl:flex'></div>
<div class='w-full h-screen min-h-[800px] flex justify-center bg-[#D7F5F6] overflow-hidden'>
  <div
    class='flex flex-col w-full max-w-[1280px] justify-stretch px-4 py-6 gap-8 lg:px-20 lg:pt-[5.5rem] lg:pb-36 relative'
  >
    <img
      class='absolute bottom-0 right-[-113px] top-0 z-0 h-full hidden lg:flex max-h-[100%]'
      src='/images/Testimonials-md.png'
      alt=''
    />
    <img
      class='absolute bottom-0 left-0 right-0 m-auto z-0 lg:hidden w-auto h-auto max-h-[50%]'
      src='/images/Testimonials.png'
      alt=''
    />
    <div
      class='col px-4 py-6 lg:p-8 rounded-3xl items-center lg:items-start lg:w-[625px] gap-4 lg:gap-8 relative z-10'
      style='background: linear-gradient(241deg, rgba(255, 255, 255, 0.79) 15.19%, rgba(255, 255, 255, 0.31) 87.53%);'
    >
      <div class='col gap-2 items-center lg:items-start'>
        <div class='title bg-darkTeal'>{l.solutions.testimonials}</div>
        <h2 class='text-[1.375rem] lg:text-[1.75rem] text-center lg:text-left'>{l.solutions.prove}</h2>
      </div>
      <div class='w-full grid grid-cols-2 gap-x-6 gap-y-4 lf:gap-10'>
        <div class='col items-center lg:items-start text-center lg:text-left lg:gap-4'>
          <span class='text-4xl md:text-5xl text-darkTeal font-bold'><span class='text-emerald-0'>&gt;</span> 25x</span>
          <span class='lg:font-[600]'>{l.solutions.result1}</span>
        </div>
        <div class='col items-center lg:items-start text-center lg:text-left lg:gap-4'>
          <span class='text-4xl md:text-5xl text-darkTeal font-bold'><span class='text-emerald-0'>+</span> 35%</span>
          <span class='lg:font-[600]'>{l.solutions.result2}</span>
        </div>
        <div class='col items-center lg:items-start text-center lg:text-left lg:gap-4'>
          <span class='text-4xl md:text-5xl text-darkTeal font-bold'><span class='text-emerald-0'>&gt;</span> 25</span>
          <span class='lg:font-[600]'>{l.solutions.result3}</span>
        </div>
        <div class='col items-center lg:items-start text-center lg:text-left lg:gap-4'>
          <span class='text-4xl md:text-5xl text-darkTeal font-bold'>2-3</span>
          <span class='lg:font-[600]'>{l.solutions.result4}</span>
        </div>
      </div>
    </div>
    <a href={`${l.lang == 'VI' ? '' : '/en'}/#contact`} class='btn green lg:w-[280px] z-10'>{l.btn.contact}</a>
  </div>
</div>
