---
export interface Props {
  l: any;
}

const { l } = Astro.props;
---

<div
  class='lg:h-auto w-full bg-blueGrey-800 flex flex-col items-center text-blueGrey-200 bg-footer p-4 lg:px-14 lg:py-5 z-10'
>
  <div class='w-full sm:max-w-[1122px]'>
    <div class='flex flex-col lg:flex-row justify-stretch gap-10 w-full items-stretch'>
      <div class='lg:w-auto w-full flex justify-center items-start'>
        <img src='/images/logo.svg' alt='Logo Kyons' class='w-[160px]' />
      </div>
      <div class='flex flex-col gap-2 w-auto items-center lg:items-start'>
        <div class='lg:flex flex-row gap-2 text-center lg:text-left'>
          <i class='icon-Location hidden lg:flex'></i>
          <span class='flex flex-col gap-2'>
            <strong>{l.footer.company}</strong>
            <span set:html={l.footer.address} />
          </span>
        </div>
        <div class='lg:flex flex-row gap-2'>
          <i class='icon-Phone hidden lg:flex'></i>
          <span>{l.footer.phone}</span>
        </div>
      </div>
      <div class='flex flex-col gap-3 items-center lg:items-start whitespace-nowrap'>
        <!-- <a href='#features' class='font-bold'>
          {l.menu.features}
        </a> -->
        <span class='font-bold'>
          {l.menu.forStudents}
        </span>
        <a href={`${l.lang == 'VI' ? '' : '/en'}/#about-us`}>
          {l.menu.aboutUs}
        </a>
        <a href={`${l.lang == 'VI' ? '' : '/en'}/#problem`}>
          {l.menu.problemsAndSolution}
        </a>
        <a href={`${l.lang == 'VI' ? '' : '/en'}/#guild`}>
          {l.menu.guild}
        </a>
        <a href={`${l.lang == 'VI' ? '' : '/en'}/pricing`}>
          {l.menu.price}
        </a>
        <a href={`${l.lang == 'VI' ? '' : '/en'}/#schools`} class='font-bold sm:hidden'>
          {l.menu.forSchools}
        </a>
        <a href={`${l.lang == 'VI' ? '' : '/en'}/#contact`} class='font-bold sm:hidden'>
          {l.menu.contact}
        </a>
      </div>
      <div class='sm:flex flex-col gap-3 items-center lg:items-start whitespace-nowrap hidden'>
        <a href={`${l.lang == 'VI' ? '' : '/en'}/#schools`} class='font-bold'>
          {l.menu.forSchools}
        </a>
        <a href={`${l.lang == 'VI' ? '' : '/en'}/#contact`} class='font-bold'>
          {l.menu.contact}
        </a>
      </div>
      <div class='lg:flex-1 hidden lg:flex'></div>
      <div class='flex flex-col justify-between lg:w-[214px]'>
        <div class='flex flex-row gap-2 items-center w-full justify-center lg:justify-end'>
          <a href='https://www.linkedin.com/company/kyons'><img src='/images/Linkedin.svg' alt='Linkedin Kyons' /></a>
          <a href='https://www.facebook.com/KyonsVN'><img src='/images/Facebook.svg' alt='Facebook Kyons' /></a>
          <a href='https://www.tiktok.com/@kyons.vn'><img src='/images/Tiktok.svg' alt='Tiktok Kyons' /></a>
          <a href='https://zalo.me/2819583938819205206'><img src='/images/Zalo.svg' alt='Zalo Kyons' /></a>
        </div>
        <div class='h-4 lg:h-0'></div>
        <div class='text-center'>
          <!-- <a href='#' class='text-center'
            ><img src='/images/bct.png' alt='Đã thông báo Bộ Công Thương' class='inline-block' /></a
          > -->
        </div>
      </div>
    </div>
  </div>
</div>
<div class='gap-2 w-full pt-6 px-14 py-5 bg-blueGrey-900 text-white flex items-center justify-center sm:text-left'>
  <div class='lg:w-[1280px]'>{l.footer.copy}</div>
</div>
