---
import './style.scss';
export interface Props {
  l: any;
}

const { l } = Astro.props;
---

<div class='problem'>
  <div id='problem' class='absolute top-[-82px] h-0 overflow-hidden'>
    <span class='explains'>{l.problems.explain1}</span>
    <span class='explains'>{l.problems.explain2}</span>
    <span class='explains'>{l.problems.explain3}</span>
    <span class='explains'>{l.problems.explain4}</span>
  </div>
  <div class='problem-wrapper'>
    <div class='flex flex-col gap-2 items-center'>
      <div class='title'>{l.problems.problems}</div>
      <h3 class='text-2xl max-w-[500px]'>{l.problems.why}</h3>
    </div>
    <div class='flex justify-between w-full'>
      <div class='flip-card'>
        <div class='inner'>
          <div class='front'>
            <img src='/images/card-front-1-sm.svg' class='w-full h-full sm:hidden' />
            <img src='/images/card-front-1.svg' class='w-full h-full hidden sm:flex' />
            <span class='hidden sm:flex absolute top-[50%] explainSms px-8'></span>
          </div>
          <div class='back'><img src='/images/card-back.svg' class='w-full h-full' /></div>
        </div>
      </div>
      <div class='flip-card'>
        <div class='inner'>
          <div class='front'>
            <img src='/images/card-front-2-sm.svg' class='w-full h-full sm:hidden' />
            <img src='/images/card-front-2.svg' class='w-full h-full hidden sm:flex' />
            <span class='hidden sm:flex absolute top-[50%] explainSms px-8'></span>
          </div>
          <div class='back'><img src='/images/card-back.svg' class='w-full h-full' /></div>
        </div>
      </div>
      <div class='flip-card'>
        <div class='inner'>
          <div class='front'>
            <img src='/images/card-front-3-sm.svg' class='w-full h-full sm:hidden' />
            <img src='/images/card-front-3.svg' class='w-full h-full hidden sm:flex' />
            <span class='hidden sm:flex absolute top-[50%] explainSms px-8'></span>
          </div>
          <div class='back'><img src='/images/card-back.svg' class='w-full h-full' /></div>
        </div>
      </div>
      <div class='flip-card'>
        <div class='inner'>
          <div class='front'>
            <img src='/images/card-front-4-sm.svg' class='w-full h-full sm:hidden' />
            <img src='/images/card-front-4.svg' class='w-full h-full hidden sm:flex' />
            <span class='hidden sm:flex absolute top-[50%] explainSms px-8'></span>
          </div>
          <div class='back'><img src='/images/card-back.svg' class='w-full h-full' /></div>
        </div>
      </div>
    </div>
    <a
      id='resolveBtn'
      href='#problem'
      class='flex items-center justify-center gap-4 px-[16px] py-[6px] cursor-pointer text-white sm:text-primaryBlue font-[600] text-center h-10 rounded bg-lightBlue-1 sm:bg-transparent w-full sm:w-[428px] underline'
    >
      <svg
        xmlns='http://www.w3.org/2000/svg'
        width='24'
        height='24'
        viewBox='0 0 24 24'
        fill='none'
        class='hidden sm:flex'
      >
        <mask id='mask0_2615_640' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'>
          <rect width='24' height='24' fill='#D9D9D9'></rect>
        </mask>
        <g mask='url(#mask0_2615_640)' class='fill-white sm:fill-primaryBlue'>
          <path
            d='M13.935 10.0094L14.2018 10.1428C15.2802 10.6987 16.1584 11.5769 16.7143 12.6553L16.8477 12.9221C17.3813 13.9783 18.8933 13.9783 19.438 12.9221L19.5714 12.6553C20.1273 11.5769 21.0056 10.6987 22.0839 10.1428L22.3507 10.0094C23.4069 9.47577 23.4069 7.96382 22.3507 7.41907L22.0839 7.28566C21.0056 6.7298 20.1273 5.85153 19.5714 4.77315L19.438 4.50634C18.9044 3.4502 17.3924 3.4502 16.8477 4.50634L16.7143 4.77315C16.1584 5.85153 15.2802 6.7298 14.2018 7.28566L13.935 7.41907C12.8788 7.9527 12.8788 9.46465 13.935 10.0094Z'
          ></path>
          <path
            d='M3.63369 6.03613L3.84714 6.14286C4.70984 6.58755 5.41244 7.29016 5.85714 8.15286L5.96386 8.36631C6.39077 9.21123 7.60033 9.21123 8.03613 8.36631L8.14285 8.15286C8.58755 7.29016 9.29016 6.58755 10.1529 6.14286L10.3663 6.03613C11.2112 5.60923 11.2112 4.39967 10.3663 3.96387L10.1529 3.85714C9.29016 3.41245 8.58755 2.70984 8.14285 1.84714L8.03613 1.63369C7.60922 0.788771 6.39966 0.788771 5.96386 1.63369L5.85714 1.84714C5.41244 2.70984 4.70984 3.41245 3.84714 3.85714L3.63369 3.96387C2.78877 4.39077 2.78877 5.60033 3.63369 6.03613Z'
          ></path>
          <path
            d='M4.95053 18.5542L5.27071 18.7143C6.56476 19.3813 7.61867 20.4352 8.28571 21.7293L8.44579 22.0495C9.08615 23.3168 10.9005 23.3168 11.5542 22.0495L11.7143 21.7293C12.3813 20.4352 13.4352 19.3813 14.7293 18.7143L15.0495 18.5542C16.3168 17.9138 16.3168 16.0995 15.0495 15.4458L14.7293 15.2857C13.4352 14.6187 12.3813 13.5648 11.7143 12.2707L11.5542 11.9505C10.9138 10.6832 9.09949 10.6832 8.44579 11.9505L8.28571 12.2707C7.61867 13.5648 6.56476 14.6187 5.27071 15.2857L4.95053 15.4458C3.68316 16.0862 3.68316 17.9005 4.95053 18.5542Z'
          ></path>
        </g>
      </svg>
      {l.problems.explain}</a
    >
    <div id='resolveTxt' class='hidden'>
      <strong class='flex sm:hidden'>{l.problems.explain}</strong>
      <a href='#solutions' class='hidden sm:flex underline'>{l.problems.viewSolutions}</a>
    </div>

    <div id='expalainWrapper' class='flex-col gap-4 hidden justify-center sm:hidden'>
      <span class='hidden justify-center'>
        <div class='typewriters'></div>
      </span>
      <span class='hidden justify-center'>
        <div class='typewriters'></div>
      </span>
      <span class='hidden justify-center'>
        <div class='typewriters'></div>
      </span>
      <span class='hidden justify-center'>
        <div class='typewriters'></div>
      </span>
    </div>
  </div>
</div>

<script>
  const flipCards = document.querySelectorAll('.flip-card');
  const typewriters = document.querySelectorAll('.typewriters');
  const explains = document.querySelectorAll('.explains');
  const explainSms = document.querySelectorAll('.explainSms');
  let i = [0, 0, 0, 0];
  let txt = ['', '', '', ''];
  var speed = 50; /* The speed/duration of the effect in milliseconds */

  function typeWriter(index: number, originTxt: string) {
    if (i[index] < originTxt.length) {
      typewriters[index].innerHTML += originTxt.charAt(i[index]);
      explainSms[index].innerHTML += originTxt.charAt(i[index]);
      i[index]++;
      setTimeout(() => typeWriter(index, originTxt), Math.random() * 100);
    }
  }
  const expalainWrapper = document.getElementById('expalainWrapper')!;
  flipCards.forEach((card, index) => {
    card.addEventListener('click', () => {
      expalainWrapper.classList.replace('hidden', 'flex');
      expalainWrapper.children[index].classList.replace('hidden', 'flex');
      card.classList.add('flipped');
      txt[index] = explains[index].innerHTML; /* The text */
      typeWriter(index, txt[index]);
      resolveTxt.classList.remove('hidden');
      resolveBtn.remove();
    });
  });
  const explainAll = () => {
    expalainWrapper.classList.replace('hidden', 'flex');
    flipCards.forEach((card, index) => {
      expalainWrapper.children[index].classList.replace('hidden', 'flex');
      card.classList.add('flipped');
      txt[index] = explains[index].innerHTML; /* The text */
      typeWriter(index, txt[index]);
    });
    resolveTxt.classList.remove('hidden');
    resolveBtn.remove();
  };
  const resolveBtn = document.getElementById('resolveBtn')!;
  resolveBtn.addEventListener('click', explainAll);
  const resolveTxt = document.getElementById('resolveTxt')!;
</script>
