---
import './style.scss';
export interface Props {
  l: any;
}

const { l } = Astro.props;
---

<div class='problem'>
  <div id='problem' class='absolute top-[-82px] h-0 overflow-hidden'>
    <span class='explains'>{l.problems.explain1}</span>
    <span class='explains'>{l.problems.explain2}</span>
    <span class='explains'>{l.problems.explain3}</span>
    <span class='explains'>{l.problems.explain4}</span>
  </div>
  <div class='problem-wrapper'>
    <div class='flex flex-col gap-2 items-center'>
      <div class='title'>{l.problems.problems}</div>
      <h3 class='text-2xl max-w-[500px]'>{l.problems.why}</h3>
    </div>
    <div class='flex justify-between w-full'>
      <div class='flip-card'>
        <div class='inner'>
          <div class='front'><img src='/images/card-front-1.svg' class='w-full h-full' /></div>
          <div class='back'><img src='/images/card-back.svg' class='w-full h-full' /></div>
        </div>
      </div>
      <div class='flip-card'>
        <div class='inner'>
          <div class='front'><img src='/images/card-front-2.svg' class='w-full h-full' /></div>
          <div class='back'><img src='/images/card-back.svg' class='w-full h-full' /></div>
        </div>
      </div>
      <div class='flip-card'>
        <div class='inner'>
          <div class='front'><img src='/images/card-front-3.svg' class='w-full h-full' /></div>
          <div class='back'><img src='/images/card-back.svg' class='w-full h-full' /></div>
        </div>
      </div>
      <div class='flip-card'>
        <div class='inner'>
          <div class='front'><img src='/images/card-front-4.svg' class='w-full h-full' /></div>
          <div class='back'><img src='/images/card-back.svg' class='w-full h-full' /></div>
        </div>
      </div>
    </div>
    <a id='resolveBtn' href='#problem' class='btn blue w-full sm:w-[428px]'>
      <img src='/images/show-cards.svg' alt='' />
      {l.problems.explain}</a
    >
    <strong id='resolveTxt' class='hidden'>{l.problems.explain}</strong>
    <div id='expalainWrapper' class='flex-col gap-4 hidden justify-center'>
      <span class='hidden justify-center'>
        <div class='typewriters'></div>
      </span>
      <span class='hidden justify-center'>
        <div class='typewriters'></div>
      </span>
      <span class='hidden justify-center'>
        <div class='typewriters'></div>
      </span>
      <span class='hidden justify-center'>
        <div class='typewriters'></div>
      </span>
    </div>
  </div>
</div>

<script>
  const flipCards = document.querySelectorAll('.flip-card');
  const typewriters = document.querySelectorAll('.typewriters');
  const explains = document.querySelectorAll('.explains');
  let i = [0, 0, 0, 0];
  let txt = ['', '', '', ''];
  var speed = 50; /* The speed/duration of the effect in milliseconds */

  function typeWriter(index: number, originTxt: string) {
    if (i[index] < originTxt.length) {
      typewriters[index].innerHTML += originTxt.charAt(i[index]);
      i[index]++;
      setTimeout(() => typeWriter(index, originTxt), Math.random() * 100);
    }
  }
  const expalainWrapper = document.getElementById('expalainWrapper')!;
  flipCards.forEach((card, index) => {
    card.addEventListener('click', () => {
      expalainWrapper.classList.replace('hidden', 'flex');
      expalainWrapper.children[index].classList.replace('hidden', 'flex');
      card.classList.add('flipped');
      txt[index] = explains[index].innerHTML; /* The text */
      typeWriter(index, txt[index]);
      resolveTxt.classList.remove('hidden');
      resolveBtn.remove();
    });
  });
  const explainAll = () => {
    expalainWrapper.classList.replace('hidden', 'flex');
    flipCards.forEach((card, index) => {
      expalainWrapper.children[index].classList.replace('hidden', 'flex');
      card.classList.add('flipped');
      txt[index] = explains[index].innerHTML; /* The text */
      typeWriter(index, txt[index]);
    });
    resolveTxt.classList.remove('hidden');
    resolveBtn.remove();
  };
  const resolveBtn = document.getElementById('resolveBtn')!;
  resolveBtn.addEventListener('click', explainAll);
  const resolveTxt = document.getElementById('resolveTxt')!;
</script>
