---
import './features.scss';
export interface Props {
  l: any;
}

const { l } = Astro.props;
---

<div class='features'>
  <div id='features'></div>
  <div class='flex flex-col w-full relative z-10'>
    <strong class='flex flex-col text-teal-1 text-sm lg:text-xl md:text-base'>{l.features.features}</strong>
    <div class='h-6'></div>
    <h3 set:html={l.features.title} class='leading-10 lg:text-3xl text-white md:text-2xl text-xl' />
    <div class='h-3'></div>
    <small class='text-white'>{l.features.desc}</small>
  </div>
  <div class='grid lg:grid-cols-3 w-full max-w-[400px] lg:max-w-[1122px] gap-6 lg:gap-10'>
    <div class='flex flex-col gap-8 items-center bg-white rounded-lg shadow-4 py-12 px-8'>
      <img src='/images/feature-2.svg' width='108px' height='108px' />
      <div class='flex flex-col gap-2'>
        <h5 class='leading-8'>{l.features.feature1}</h5>
        <p>{l.features.feature1Desc}</p>
      </div>
    </div>
    <div class='flex flex-col gap-8 items-center bg-white rounded-lg shadow-4 py-12 px-8'>
      <img src='/images/feature-3.svg' width='108px' height='108px' />
      <div class='flex flex-col gap-2'>
        <h5 class='leading-8'>{l.features.feature2}</h5>
        <p>{l.features.feature2Desc}</p>
      </div>
    </div>
    <div class='flex flex-col gap-8 items-center bg-white rounded-lg shadow-4 py-12 px-8'>
      <img src='/images/feature-1.svg' width='108px' height='108px' />
      <div class='flex flex-col gap-2'>
        <h5 class='leading-8'>{l.features.feature3}</h5>
        <p>{l.features.feature3Desc}</p>
      </div>
    </div>
  </div>
  <b class='text-white'>{l.features.andMore}</b>
</div>
